/* styles.css */
:root {
  --main-color: #FFA500; /* Orangish main color */
  --background-color: #FFC266; /* Lighter shade of orange for backgrounds */
  --text-color: #000000; /* Black text color for readability */
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

/* styles.css */

.male-puppy {
  background-color: rgba(0, 0, 255, 0.5); /* Semi-transparent blue for male puppies */
}

.female-puppy {
  background-color: rgba(255, 0, 255, 0.5); /* Semi-transparent pink for female puppies */
}


.root {
  flex-grow: 1;
  padding-bottom: 100px; /* Adjust padding to accommodate the sticky footer */
}

.appBar {
  background-color: var(--main-color);
  margin-bottom: 20px;
}

.card {
  background-color: white; /* Light background for cards */
  max-width: 345px;
  margin: auto;
}

.footer {
  background-color: var(--main-color); /* Footer background */
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  padding: 10px 0;
}
